@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

.bg_profile {
  width: 100%;
  padding-left: 260px;
  padding-right: 65px;
  background-image: url("/src/Assests/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-header {
  background: #fff;
  width: 100%;
  display: flex;
  height: 230px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 50px;
}

.profile-img img {
  border-radius: 50%;
  height: 190px;
  width: 190px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 0px;
  margin-top: -30px;
}

.main-bd {
  width: 100px;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 450px;
  height: 700px;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  font-family: "Bree Serif", serif;
  margin-top: 40px;
  margin-bottom: 100px;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.main5 {
  margin-left: 130px;
  font-size: 28px;
  width: 500px;
  margin-top: -13.5px;
}

.main5 h2 {
  color: #0a0a0a;
  font: bold;
  font-weight: 900;
  margin-left: -75px;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
}

.main5 .card5 {
  background-color: #fff;
  border-radius: 18px;
  box-shadow: 1px 1px 8px 0 rgb(37, 37, 37);
  height: 550px;
  width: 400px;
  margin-top: 10px;
  margin-left: -105px;
}

.main5 .card5 table {
  border: none;
  font-size: 16px;
  height: 300px;
  width: 150px;
}
.right-side {
  background-color: #fff;
  margin-bottom: 100px;
  width: 736px;
}

.nav {
  width: 100%;
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 40px;
  width: 1100px;
  background: #fff;
  margin-left: -450px;
  border-radius: 0px;
  border-color: #0a0a0a;
}

.nav ul li {
  padding: 28px;
  width: 100%;
  cursor: pointer;
  font: bold;
  font-size: 35px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 900;
  text-align: center;
  margin-left: 500px;
  transition: all 0.2s ease-in-out;
}

.profile-body {
  width: 100%;
  z-index: -1;
}

.tab {
  display: none;
}

.tab {
  padding: 20px;
  width: 100%;
  text-align: center;
}

#see-more-bio,
#see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}
.tab h1 {
  font-family: "Bree Serif", sans-serif;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@keyframes bake-pie {
  from {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

#labels {
  position: absolute;
  left: 1175px;
  top: 600px;
  width: 250px;
}

#percentage_wrapper {
  position: absolute;
  left: 1370px;
  top: 600px;
  width: 50px;
  height: 150px;
  overflow: hidden;
}

#labels ul,
#percentage ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #010101;
}

#labels li,
#percentage li {
  display: block;
  margin: 0;
  padding: 0 0 8px 0;
}

#labels span {
  display: block;
  float: left;
  width: 8px;
  height: 8px;
  margin: 5px 5px 0 0;
  background: #ffffff;
}

#labels ul :nth-child(1) span {
  background: #0092b9;
}
#labels ul :nth-child(2) span {
  background: #86ad00;
}
#labels ul :nth-child(3) span {
  background: #bc3603;
}
#labels ul :nth-child(4) span {
  background: #a004d9;
}
#labels ul :nth-child(5) span {
  background: #f2b705;
}

#chart_holder {
  width: 600px;
  height: 200px;
  margin-left: 150px;
  margin-top: 150px;
  padding: 0;
}

#pie_chart {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;

  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.2)));
}

#pie_chart ul {
  list-style-type: none;
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
}

#pie_chart li {
  position: absolute;
  top: 0px;
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
}

#pie_chart p {
  width: 300px;
  height: 300px;
  padding: 0;
  margin: 0;
}

#pie_chart li p {
  -webkit-transition: all 0.7s ease-out;
}

#pie_chart span {
  display: block;
  width: 150px;
  height: 300px;
}

#pie_chart ul :nth-child(odd) {
  clip: rect(0px, 300px, 300px, 150px);
}

#pie_chart ul :nth-child(even) {
  clip: rect(0px, 150px, 300px, 0px);
}

.pie_left {
  -moz-border-radius-topleft: 150px;
  -moz-border-radius-bottomleft: 150px;
  -webkit-border-top-left-radius: 150px;
  -webkit-border-bottom-left-radius: 150px;
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.pie_right {
  margin-left: 150px;
  -moz-border-radius-topright: 150px;
  -moz-border-radius-bottomright: 150px;
  -webkit-border-top-right-radius: 150px;
  -webkit-border-bottom-right-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
}

#c1_l span {
  background: #bc3603;
  background-image: -moz-radial-gradient(
    left 45deg,
    circle closest-corner,
    #de3d00 10%,
    #bc3603 100%
  );
  background-image: -webkit-gradient(
    radial,
    left center,
    10,
    left center,
    150,
    from(#de3d00),
    to(#bc3603)
  );
}

#c1_r span {
  background: #bc3603;
  background-image: -moz-radial-gradient(
    right 45deg,
    circle closest-corner,
    #de3d00 10%,
    #bc3603 100%
  );
  background-image: -webkit-gradient(
    radial,
    right center,
    10,
    right center,
    150,
    from(#de3d00),
    to(#bc3603)
  );
}

#c2_l span {
  background: #a004d9;
  background-image: -moz-radial-gradient(
    left 45deg,
    circle closest-corner,
    #a004d9 10%,
    #a004d9 100%
  );
  background-image: -webkit-gradient(
    radial,
    left center,
    10,
    left center,
    150,
    from(#a004d9),
    to(#a004d9)
  );
}

#c2_r span {
  background: #a004d9;
  background-image: -moz-radial-gradient(
    right 45deg,
    circle closest-corner,
    #a004d9 10%,
    #a004d9 100%
  );
  background-image: -webkit-gradient(
    radial,
    right center,
    10,
    right center,
    150,
    from(#a004d9),
    to(#a004d9)
  );
}

#c3_l span {
  background: #f2b705;
  background-image: -moz-radial-gradient(
    left 45deg,
    circle closest-corner,
    #ffc517 10%,
    #f2b705 100%
  );
  background-image: -webkit-gradient(
    radial,
    left center,
    10,
    left center,
    150,
    from(#ffc517),
    to(#f2b705)
  );
}

#c3_r span {
  background: #f2b705;
  background-image: -moz-radial-gradient(
    right 45deg,
    circle closest-corner,
    #ffc517 10%,
    #f2b705 100%
  );
  background-image: -webkit-gradient(
    radial,
    right center,
    10,
    right center,
    150,
    from(#ffc517),
    to(#f2b705)
  );
}

#c4_l span {
  background: #86ad00;
  background-image: -moz-radial-gradient(
    left 45deg,
    circle closest-corner,
    #9bc800 10%,
    #86ad00 100%
  );
  background-image: -webkit-gradient(
    radial,
    left center,
    10,
    left center,
    150,
    from(#9bc800),
    to(#86ad00)
  );
}

#c4_r span {
  background: #86ad00;
  background-image: -moz-radial-gradient(
    right 45deg,
    circle closest-corner,
    #9bc800 10%,
    #86ad00 100%
  );
  background-image: -webkit-gradient(
    radial,
    right center,
    10,
    right center,
    150,
    from(#9bc800),
    to(#86ad00)
  );
}

#c5_l span {
  background: #0092b9;
  background-image: -moz-radial-gradient(
    left 45deg,
    circle closest-corner,
    #00addb 10%,
    #0092b9 100%
  );
  background-image: -webkit-gradient(
    radial,
    left center,
    10,
    left center,
    150,
    from(#00addb),
    to(#0092b9)
  );
}

#c5_r span {
  background: #0092b9;
  background-image: -moz-radial-gradient(
    right 45deg,
    circle closest-corner,
    #00addb 10%,
    #0092b9 100%
  );
  background-image: -webkit-gradient(
    radial,
    right center,
    10,
    right center,
    150,
    from(#00addb),
    to(#0092b9)
  );
}

#pie_chart ul :nth-child(1) p,
#q2_2010:target #pie_chart ul :nth-child(1) p {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#pie_chart ul :nth-child(2) p,
#q2_2010:target #pie_chart ul :nth-child(2) p {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#pie_chart ul :nth-child(3) p,
#q2_2010:target #pie_chart ul :nth-child(3) p {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#pie_chart ul :nth-child(4) p,
#q2_2010:target #pie_chart ul :nth-child(4) p {
  -moz-transform: rotate(92.88deg);
  -webkit-transform: rotate(92.88deg);
  -o-transform: rotate(92.88deg);
}
#pie_chart ul :nth-child(5) p,
#q2_2010:target #pie_chart ul :nth-child(5) p {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
#pie_chart ul :nth-child(6) p,
#q2_2010:target #pie_chart ul :nth-child(6) p {
  -moz-transform: rotate(7.12deg);
  -webkit-transform: rotate(7.12deg);
  -o-transform: rotate(7.12deg);
}
#pie_chart ul :nth-child(7) p,
#q2_2010:target #pie_chart ul :nth-child(7) p {
  -moz-transform: rotate(103.6deg);
  -webkit-transform: rotate(103.6deg);
  -o-transform: rotate(103.6deg);
}

#pie_chart ul :nth-child(9) p,
#q2_2010:target #pie_chart ul :nth-child(9) p {
  -moz-transform: rotate(52.92deg);
  -webkit-transform: rotate(52.92deg);
  -o-transform: rotate(52.92deg);
}

.profile-side.instructor-profile-side {
  margin-top: 0px;
  margin-left: 150px;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body5.instructor-card-body5 {
  width: 500px;
}

.main5.instructor-main5 {
  width: 700px;
}

.card5.instructor-card5 {
  width: 750px;
}
.instructor-label,
.instructor-value {
  padding-top: -25px;
  padding-right: 50px;
  font-size: 20px;
  padding-left: 160px;
  width: 100px;
}

.profile-header.instructor-profile-header {
  width: 900px;
  margin-left: 150px;
}

.ins_h2.instructor-ins_h2 {
  margin-left: 100px;
}
