.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 110px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #003153;
  border-right: 1px solid rgba(255, 255, 255, 0.7);
  transition: width 1s ease;
}

.sidebar:not(:hover) .menulogo {
  width: auto;
}

.sidebar:hover {
  width: 250px;
}

.sidebar .menulogo {
  display: flex;
  align-items: center;
  padding: 50px 10px;
}

.menuname {
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-left: 15px;
  display: none;
}

.sidebar:hover .logo h2 {
  display: block;
}

.sidebar .links {
  list-style: none;
  margin-top: 20px;
  overflow-y: auto;
  scrollbar-width: none;
  height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
  display: none;
}

.links li {
  color: white;
  display: flex;
  border-radius: 4px;
  align-items: center;
}

.links li:hover {
  width: 190px;
  cursor: pointer;
  background: goldenrod;
  color: black;
}

.links h4 {
  color: white;
  font-weight: 500;
  display: none;
  margin-bottom: 10px;
}

.sidebar:hover .links h4 {
  display: block;
}

.links hr {
  margin: 10px 8px;
  border: 1px solid white;
}

.sidebar:hover .links hr {
  border-color: transparent;
}

.links li span {
  padding: 15px 10px;
  font-size: 28px;
}

.links li a {
  padding: 10px;
  font-size: 18px;
  color: white;
  display: none;
  font-weight: 500;
  white-space: nowrap;
  text-decoration: none;
}

.links li a:hover {
  color: black;
}

.sidebar:hover .links li a {
  display: block;
}

.links .logout-link {
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 70px;
  }
  
  .sidebar:hover {
    width: 200px;
  }
  
  .menuname {
    display: block;
    font-size: 20px;
  }
  
  .links li span {
    font-size: 20px;
  }
  
  .links li a {
    font-size: 16px;
}
}

