.background {
  display: flex;
  justify-content: end;
  align-items:center;
  min-height: 100vh;
  background-image: url("/src/Assests/Login.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

.warp {
  margin-right: 230px;
  margin-top: 90px;
  width: 420px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 20px;
  color: white;
  padding: 20px 40px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 45px;
  text-align: center;
  font-weight: 600;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 40px;
  color: white;
  padding: 20px 45px 20px 20px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255);
}

.input-box input::placeholder {
  color: white;
  font-size: 14px;
}

.forgot {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}

.icon{
position: absolute;
top: 50%;
right: 18px;
transform: translateY(-50%);
font-size: 20px;
}

.forgot a {
  color: white;
  text-decoration: none;
}

.forgot a:hover {
  text-decoration: underline;
}

.login {
  width: 100%;
  height: 45px;
  background: rgb(246, 255, 0);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 17px;
  color: black;
  font-weight: 700;
}

.login:hover {
  background: rgb(255, 55, 0);
  color: white;
  border: 3px solid rgb(255, 255, 255);

}
.signup {
  font-size: 15px;
  text-align: center;
  margin: 20px 0 15px;
}

.signup p a {
  color: white;
  text-decoration: none;
  font-weight: 600;
 
}

.signup p a:hover {
  text-decoration: underline;
}

.signup p {
  text-align: center;
}