.bg_resource {
  width: 100%;
  padding-left: 260px;
  padding-right: 20px;
  background-image: url("/src/Assests/main_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.resource_container{
  padding-top: 70px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: flex-start;
  gap: 85px;
}


.file-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #cbd5e0;
  background-color: #edf2f7;
  margin-top: 20px;
  min-width: 350px;
  min-height: 330px;

  .file-inputs {
    position: relative;
    margin-bottom: 1.5em;

    input {
      position: relative;
      text-align: right;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
      height: 100px;
      width: 200px;
    }

    button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 150px;
      height: 100px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -15px;
      margin-left: 30px;
      color: #fff;
      background-color: #f55e30;
      font-size: 1.1rem;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      outline: none;
      transition: background-color 0.4s;
      box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
    }

    &:hover {
      button {
        background-color: #f15120;
      }
    }
    .main1 {
      text-align: center;
    }
  }
  .upload {
    width: 100%;
    height: 35px;
    background: goldenrod;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 15px;
    color: black;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload-file {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 15px;
    color: black;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload:hover {
    background: rgb(240, 248, 94);
    color: black;
    border: 1px solid rgb(6, 6, 6);
  }
}

[class^="box"] {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid black;
}

.box_image {
  width: 104px;
  height: 115px;
  margin-top: -20px;
  margin: auto;
  background-image: url("/src/Assests/pdf-img.jpg");
  background-size: 100px;
}

.name1 {
  margin-top: 130px;
  margin-left: -45px;
  width: 190px;
  color: black;
  font-size: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .bg_resource {
    padding-left: 150px;
  }

  .resource_container {
    gap: 60px;
    justify-content: center;
  }

  .file-card {
    min-width: 250px;
    min-height: 280px;
  }

  .box_image {
    width: 100px;
    height: 115px;
    margin-top: -15px;
  }

  .name1 {
    margin-top: 130px;
    margin-left: -20px;
    width: 150px;
    font-size: 14px;
}
}

