.bg1 {
  background-color: ghostwhite;
}

/* .add {
  margin-left: 45px;
  margin-top: 50px;
} */

.file-card {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px dashed #cbd5e0;
  background-color: #edf2f7;
  margin-top: 20px;
  min-width: 350px;
  min-height: 330px;

  .file-inputs {
    position: relative;
    margin-bottom: 1.5em;

    input {
      position: relative;
      text-align: right;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
      height: 100px;
      width: 200px;
    }

    button {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 150px;
      height: 100px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -15px;
      margin-left: 30px;

      color: #fff;
      background-color: #f55e30;
      font-size: 1.1rem;
      cursor: pointer;
      border-radius: 4px;
      border: none;
      outline: none;
      /* padding: 1em; */
      transition: background-color 0.4s;
      box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.5);
    }

    &:hover {
      button {
        background-color: #f15120;
      }
    }
    .main1 {
      text-align: center;
    }
  }
  .upload {
    width: 100%;
    height: 50px;
    background: goldenrod;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 17px;
    color: black;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .upload-file {
    width: 100%;
    height: 30px;
    border: none;
    font-size: 15px;
    color: black;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .upload:hover {
    background: rgb(240, 248, 94);
    color: black;
    border: 3px solid rgb(6, 6, 6);
  }
}

.box1 {
  width: 200px;
  height: 220px;
  margin-left: 300px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box1_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name1 {
  margin-top: 130px;
  margin-left: -30px;
  width: 170px;
  color: black;
  font-size: 15px;
  text-align: center;
}

.box2 {
  width: 200px;
  height: 220px;
  margin-left: 585px;
  margin-top: -215px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box2_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name2 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}

.box3 {
  width: 200px;
  height: 220px;
  margin-left: 855px;
  margin-top: -215px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box3_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name3 {
  margin-top: 130px;
  margin-left: -30px;
  width: 400px;
  color: black;
  font-size: 15px;
}

.box4 {
  width: 200px;
  height: 220px;
  margin-left: 1135px;
  margin-top: -215px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box4_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name4 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}

.box5 {
  width: 200px;
  height: 220px;
  margin-left: 300px;
  margin-top: 30px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box5_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name5 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}

.box6 {
  width: 200px;
  height: 220px;
  margin-left: 585px;
  margin-top: -220px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box6_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name6 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}

.box7 {
  width: 200px;
  height: 220px;
  margin-left: 855px;
  margin-top: -220px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box7_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name7 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}

.box8 {
  width: 200px;
  height: 220px;
  margin-left: 1135px;
  margin-top: -220px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box8_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name8 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}

.box9 {
  width: 200px;
  height: 220px;
  margin-left: 300px;
  margin-top: 50px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box9_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name9 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}

.box10 {
  width: 200px;
  height: 220px;
  margin-left: 585px;
  margin-top: -220px;
  border-radius: 20px;
  border: 2px solid rgb(10, 10, 10);
}

.box10_1 {
  width: 100px;
  height: 121.5px;
  margin-left: 45px;
  margin-top: -20px;
  background-image: url("/src/Assests/PDF_file_icon.png");
  background-size: 100px;
}

.name10 {
  margin-top: 130px;
  margin-left: -30px;
  width: 200px;
  color: black;
  font-size: 15px;
}