@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

* {
    transition: all 0.2s linear;
}
/* :root {
    --h2: 14px;
    --h3: 20px;
    --des: 16px;
} */



/* .controls{
  display: flex;
  padding: 100px 30px 10px 30px;
  justify-content: space-between;
  margin-bottom: 0;

} */


/* hr{
  width: 80%;
  margin: auto;
  height: 1px;
  border-color: #FF4057;
} */

/* h3 {
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
} */

p {
    padding: 1.7rem;
    text-align: justify;
    font-family: "Nunito", sans-serif;
}

#container1 {
    padding: 3rem 1rem;
    margin-top: 30px;
    margin-left: 110px;
    font-family: "Nunito", sans-serif;
   
}

#container2 {
    padding: 3rem 1rem;
    margin-top: 20px;
    font-family: "Nunito", sans-serif;
}

#products-container1 {
    margin: auto;
    display: grid;
    width: 75%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
 
   
}

#products-container2 {
    margin: auto;
    display: grid;
    width: 45%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product {
    outline: 4px solid  seashell;
    border-radius: 15%;
    text-align: center;
    width: 285px;
    height: 230px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.product:hover {
    outline: 4px solid seashell;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* .product h3 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.awardname {
    font-size: 32px;
    padding: 4px;
    color: seashell;
    font-weight: 700;
}

.amount {
    /* font-size: var(--h2); */
    color: white;
    margin-top: 15px;
    
}

#first{
    background-color: green;
}
#first:hover{
    background-color: transparent;
}

#second{
    background-color: rgb(55, 0, 172);
}
#second:hover{
    background-color: transparent;
}
#third{
    background-color: purple;
}
#third:hover{
    background-color: transparent;
}
#fourth{
    background-color: orange;
}
#fourth:hover{
    background-color: transparent;
}
#fifth{
    background-color: red;
}
#fifth:hover{
    background-color: transparent;
}

